@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900';
@font-face {
    font-family: material icons;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Arabic-Regular.eot);
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(fonts/Arabic-Regular.url) format('woff2'), url(fonts/Arabic-Regular.woff) format('woff'), url(fonts/Arabic-Regular.ttf) format('truetype')
}

.material-icons {
    font-family: material icons;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga'
}

.direction-ltr {
    direction: ltr;
}

.direction-rtl {
    direction: rtl;
}

body {
    background: url(images/red_wavy_with_halftone_background.jpg) no-repeat;
    background: size 1px;
    font-family: "Roboto", material icons !important;
}

.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
}

.get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
    color: red;
    background: red;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-family: "Roboto", material icons !important;
}

.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: gray;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    font-family: "Roboto", material icons !important;
}

.contact-form .input-text:focus {
    outline: none;
    font-family: "Roboto", material icons !important;
}

.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    font-family: "Roboto", material icons !important;
}

.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #ff0000;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    font-family: "Roboto", material icons !important;
}

.contact-form .submit-btn {
    display: inline-block;
    background-color: red;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ff0000;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}